.chart {
    background-color: #ffffff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 3px #ccc;
    position: relative;
 
    
    .chart-area {
        fill: #ffffff;
        
        .axis {
            //stroke: #333333;
            font-size: 11px;
            shape-rendering: crispEdges;
            
            .tick {
                line {
                    stroke: #cccccc;
                }
                
                text {
                    fill: #333333;        
                }
            }
            
            &.right {
                .tick {
                    line {
                        stroke-dasharray: 3,3;
                    }
                }
            }
            
            & > path {
                fill: none;
                stroke: #ccc;
            }
            
            .title {
                fill: #333333;
                shape-rendering: crispEdges;
                text-anchor: middle;
            }
        }
        
        .plot-area {
            .series {
                &.blur {
                    .point {
                        opacity: 0.2;
                    }
                    .series-line {
                        stroke-dasharray: 3,3;
                        stroke-width: 0.5 !important;
                    }
                }
            }
            
            .point {
                stroke: #777777;
            }
        }
    }
    
    .tool-tip {
        position: absolute;
        display: none;
        background: rgba(0,0,0,0.5);
        padding: 10px;
        border-radius: 3px;
        color: #efefef;
        font-size: 80%;
        box-shadow: 0 0 2px #fff;
        
        .val:before{
            content: ': '
        }
    }
}